[defaults]
inventory         = inventory/hosts.ini
remote_user       = daoson
private_key_file  = ~/.ssh/ansible_key
host_key_checking = False
forks             = 2
log_path          = ./ansible.log

[privilege_escalation]
become            = True
become_method     = sudo
become_user       = root
